h1 {
    font-size: 25px;
}

h2 {
    font-size: 22px
}

p {
    text-align: center;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
}

ul {
    font-size: 15px;
    gap: 15px;
}

ul.post-navigation {
    font-size: 10px;
    gap: 13px;
    flex-wrap: wrap;
}

ul.contact-navigation {
    font-size: 8.3px;
    gap: 9px
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border: none;
}

form {
    font-size: 14px;
    padding: 0;
    margin: 0;
    width: 104%;
}

input,
select {
    padding: 5px;
    font-size: 11px;
    width: 105%;
}

.potato {
    font-size: 12px;
}

input[type="submit"] {
    padding: 7px;
    margin-top: -35px;
    width: 8rem;
    display: flex;
    justify-content: center;
}