body {
  background-color: #0f172a;
  color: #f8fafc;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

ul,
.post-navigation {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background: linear-gradient(90deg, #1e3a8a, #3b82f6);
  display: flex;
  justify-content: center;
  gap: 25px;
  border-radius: 7px;
}

ul li a,
.post-navigation {
  color: #f8fafc;
  text-decoration: none;
  font-weight: bold;
}

ul li a:hover {
  color: #60a5fa;
}

.post-navigation:hover {
  color: #60a5fa;
}

h1,
h2 {
  color: #60a5fa;
  text-align: center;
}

div {
  padding: 20px;
  margin: 15px auto;
  background-color: #1e293b;
  border-radius: 10px;
  width: 80%;
}

.last-line {
  text-align: center;
}

.mango-juice {
  text-align: center;
}

.potato {
  text-align: center;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  color: #f8fafc;
}

th {
  background-color: #3b82f6;
  color: #f8fafc;
  padding: 10px;
}

td {
  background-color: #1e293b;
  text-align: center;
  padding: 8px;
  border: 1px solid #475569;
}

form {
  background-color: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: auto;
}

input,
select,
label {
  display: flex;
  line-height: 2;
}

label {
  margin-left: 5px;
}

input,
select {
  background-color: #0f172a;
  color: #f8fafc;
  border: 1px solid #3b82f6;
  border-radius: 10px;
  padding: 17px;
  width: 50%;
}
select{
  width: 55%;
}

input[type="submit"] {
  background-color: #3b82f6;
  border: none;
  color: #f8fafc;
  cursor: pointer;
  padding: 16px;
  width: 35%;
  border: 1px solid white;
}

input[type="submit"]:hover {
  background-color: #60a5fa;
}