h1 {
    font-size: 26px
}

h2 {
    font-size: 23px;
}

p {
    font-size: 13px;
    text-align: center;
}


.last-line {
    font-size: 14px;
}

ul {
    gap: 11px;
    font-size: 8.5px;
}

div {
    width: 72%;
}

form {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

label {}

input {}

.contact-navigation {
    width: 100%;
    margin-left: -10px;
    font-size: 8.5px;
}

table {
    font-size: 10px;
    margin-left: -9px;
    margin-top: -8px;
}

.post-navigation {
    margin-top: -18px;
    gap: 10px;
}

.contact-form {
    width: 80%;
}

.contact {
    width: 80%;
}